

#page1{
    height: 100vh;
    background-color: black;
}
..ng-hide{
         animation-name: slideOutLeft;
    animation-duration:1s;

} 
..ng-show{
    animation-name:slideInleft;
    animation-duration:2s;
}

.ratemanu{ 
    display: block;
    margin: 0 auto;
 
}
.icon{
    position: relative;
    top: 10vh;
    left: 10%;
    width: 150px;
    height: 150px;
}
.temp{
   left: 21px;
   display: inline-block;
    position: absolute;
    font-family: snowboard;
    left: 40%;
    top: 30%;
}

.text{
	font-family: snowboard;
	font-size: 30px;
	color: white;
    text-align: center;
    padding: 5vh;
    padding-top: 10vh;
    position: relative;
     z-index: 2;
    opacity: .9;

}
.text2{
    text-align: center;
    color: darkgrey
    font-family: snowboard;
    font-size: 40px;

}
.container{
    height: 50vh;
    top: 15vh;
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 1;
    opacity: .4;
    box-shadow: 0px 0px 120px 0px silver;
}


.snow{
	  background-repeat: no-repeat;
	opacity:.5;
position: absolute;
height: 100%;
width: 100vh;
animation-name: fadeIn;
animation-duration: 40s;
}
.powder{
	  background-repeat: no-repeat;
	opacity:.35;
position: absolute;
height: 100%;
width: 100%;

}
.menu{
	    height: auto;
    width: 10%;
    top: 80vh;
    left: 45%;
    position: fixed;
    display: inline-block;
    cursor: pointer !important;
}
.menu:hover{
animation-name:pulse;
animation-duration: .5s;
opacity:.5;
}
.inverted {
   -webkit-filter: invert(1);
   filter: invert(1);
   opacity:.3;
   }


 .left{
    height:7vh;
    top:40vh;
    left:1%;
}


.right{
    cursor: pointer !important;
    	position: fixed;
    display: inline-block;
    height:7vh;
    top:40vh;
    right:4%;
    cursor: pointer;
}
.right:hover, .left:hover{
    animation-name:pulse;
    animation-duration:.5s;
    opacity:.9
}
#pageData{
    font-family: snownoard;
    height:100vh;
     background-color: white;
     /* -webkit-filter: invert(1);
   filter: invert(1);*/
    box-shadow:inset -70px 0 200px -30px rgba(0,0,0,.75);
    animation-name: slideInRight;
    animation-duration:1s;

}
/*.page3{
    transition: all 1s ease;
    left: 0%;
    position: relative;
}
.page3.ng-hide{
    left: 100%;

}

#pageData.ng-hide{ 
   animation-name: slideOutLeft;
    animation-duration:1s;
}*/


.fa{
    padding:10px;

}

.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.weather{
    padding-top:30px;
    font-size: 20px;
    font-family: snowboard;
    color: black;
    margin:0px;
}
.mappics{
    width:98%;
    height: auto;
}

@font-face {
    font-family: snowboard;
    src: url(snowboard.ttf);
}

/*Weather underground Key 3322ac08ab860702*/
/*
@media screen and (device-aspect-ratio: 2/3) {}
@media screen and (device-aspect-ratio: 40/71) {}
@media screen and (device-aspect-ratio: 667/375) {}
@media screen and (device-aspect-ratio: 16/9) {}*/

